.container {
    padding: 0 50px 0 50px;
}

.headertext {
    height: inherit;
    text-align: right;
}

.underline {
    height: 4px;
    background: #7d97ad;
}

#featured-work-title {
    color: #7d97ad;
}

.card {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.card-image {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: 150px;
    object-fit: cover;
}

#logo {
    display: block;
    max-height: 100px;
}

#photo {
    display: block;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    width: 100%;
}

p {
    color: #a7adba;
}
